push int8(5)
dump
abs
dump


exit

push int32(5)
add
sub
exit

push
push int32
push int32(
push int32(32
push int32(32.52
push int32(32.52)
push int32(32(
push int32()
push int32(coucou)
push int32() ;[pwlef]

push float(35)
;push int32() ;[pwlef]
push ;woij
push;ertwert
addint32(32.52)
add int32(32.52)

psub

; jhiweuhwre
qe

wretetw

push float( 5)

assert int(55)
